<h2>Duplicates</h2>

<table>
  <tr>
    <th>Id</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Company</th>
    <th>Email</th>
    <th>Address1</th>
    <th>Address2</th>
    <th>Zip</th>
    <th>City</th>
    <th>State long</th>
    <th>State </th>
    <th>Phone </th>
  </tr>

  <% @import.each do |import| %>
    <% import.duplicates.each do |duplicate|%>
      <tr>
        <td><%= duplicate.csv_id %></td>
        <td><%= duplicate.first_name %></td>
        <td><%= duplicate.last_name %></td>
        <td><%= duplicate.company %></td>
        <td><%= duplicate.email %></td>
        <td><%= duplicate.address1 %></td>
        <td><%= duplicate.address2 %></td>
        <td><%= duplicate.zip %></td>
        <td><%= duplicate.city %></td>
        <td><%= duplicate.state_long %></td>
        <td><%= duplicate.state %></td>
        <td><%= duplicate.phone %></td>
      </tr>
    <% end %>
  <% end %>

</table>

<table>
  <tr>
    <th>Id</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Company</th>
    <th>Email</th>
    <th>Address1</th>
    <th>Address2</th>
    <th>Zip</th>
    <th>City</th>
    <th>State long</th>
    <th>State </th>
    <th>Phone </th>
  </tr>


<h2>Non Duplicates</h2>

<% @import.each do |import| %>
  <% import.records.each do |line|%>
    <tr>
      <td><%= line.csv_id %></td>
      <td><%= line.first_name %></td>
      <td><%= line.last_name %></td>
      <td><%= line.company %></td>
      <td><%= line.email %></td>
      <td><%= line.address1 %></td>
      <td><%= line.address2 %></td>
      <td><%= line.zip %></td>
      <td><%= line.city %></td>
      <td><%= line.state_long %></td>
      <td><%= line.state %></td>
      <td><%= line.phone %></td>
    </tr>
  <% end %>
<% end %>
</table>

